@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300;400&display=swap");

// customise Bootstrap variables
$primary: white;
$dark: rgba(0, 0, 0, 0.801);
$navbar-dark-color: white;
$navbar-dark-active-color: black;

// custom variables
$background-colour: #ffffff;
$background-dark: rgba(0, 0, 0, 0.5);
$grey: #000000;

$tablet-width: 480px;

$font-primary: 'Fjalla One', sans-serif;

$font-secondary: 'Roboto', sans-serif;
